@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
    --theme-col: #DD4A48;
    --theme-50: #DD484680;
    --bg-col: white;
    --shadow: #c2c2c2;
    --faded: grey;
}

body {
    font-family: 'Inter', sans-serif;
}

.custom-card {
    background-color: var(--bg-col);
    border: 1px solid var(--shadow);
    border-radius: 16px;
    min-width: 360px;
    box-shadow: 0px 16px 16px var(--shadow);
}

/*  BUTTONS  */
.custom-btn {
    color: var(--bg-col);
    background-color: var(--theme-col);
    border: 2px solid white;
    border-radius: 8px;
    padding: 1rem 1.5rem;
}

.custom-btn.sm {
    padding: 0.5rem 1rem;
    margin-bottom: 1.5rem;
}

.custom-btn:hover {
    box-shadow: 0 0 0 4px var(--theme-50);
    transition-duration: 250ms;
}

.custom-btn:disabled {
    box-shadow: none;
    border: 2px dashed var(--faded);
    color: var(--faded);
}


/* NAVBAR */
.navbar {
    padding: 24px 0 24px 0;
}

.bg-light {
    background-color: white !important;
}

.navbar-brand {
    font-weight: 900;
}

.progress {
    height: 8px;
    margin-bottom: 16px;
}
.progress-bar {
    background-color: var(--theme-col);
    height: 8px;
}

.badge {
    height: 28px;
    font-size: 16px;
}

.bg-primary {
    background-color: var(--theme-col) !important;
}

.form-control {
    border: 2px solid var(--theme-col);
    border-radius: 8px;
}

.form-control:focus {
    box-shadow: 0 0 0 4px var(--theme-50);
    border-color: var(--theme-col);
}

.lead {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 16px;
}

.campaigns {
    background-color: var(--bg-col);
}